@import "../css/bundle.css";

:host {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

:host div[name="anchor"] {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;

	opacity: 1;
	transition: opacity 0.5s;
}

:host .background div[name="anchor"] {
	pointer-events: none;
	opacity: 0.3;
}

:host well-versed-action-bar {
	opacity: 1;
	transition: opacity 0.5s;
}

:host .background well-versed-action-bar {
	opacity: 0;
}
