<template>
	<link rel="stylesheet" href="./components/refrigerator.css">
	<!-- <well-versed-coords-display>
		<span slot="x">0</span>
		<span slot="y">0</span>
	</well-versed-coords-display> -->
	<div class="background">
		<div name="anchor" class="no-select">
			<well-versed-word>
				<span slot="word">fall</span>
			</well-versed-word>
			<well-versed-word>
				<span slot="word">behind</span>
			</well-versed-word>
			<well-versed-word>
				<span slot="word">one</span>
			</well-versed-word>
			<well-versed-word>
				<span slot="word">point</span>
			</well-versed-word>
		</div>
		<well-versed-action-bar></well-versed-action-bar>
	</div>
</template>
